/* Aside.css */
.aside-container {
  width: 11rem; /* Ajusta el ancho del aside */
  background-color: #fefeff; /* Color de fondo del aside */
  color: #000000; /* Color del texto */
  height: 100vh; /* Ocupa toda la altura de la ventana */
  position: sticky;
  top: 0;
}
