/* Carousel.css */
.carousel-container {
    position: relative;
    width: 100%;
    overflow: hidden;
  
  }
  
  .carousel-slide img {
    width: 100%;
    height: auto; /* Ajusta la altura según tu diseño */
  }
  