/* .footer {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: black;
    color: white;
    
}

.mainDiv { 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    font-size: 14px;
    font-weight: 700;
} */