
.login-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; 
}
  

.login-container {
    background: #fff;
    padding: 2rem;
    border-radius: 8px;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative; 
}
  
/* Estilo del botón de cerrar */
.login-close-button {
    position: absolute; 
    top: 1rem;
    right: 1rem;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: black; 
}
  
/* Estilo del título del formulario de login */
.login-title {
    margin-top: 0;
    font-size: 1.5rem;
    color: #333;
    text-align: center;
}
  
/* Estilo del formulario dentro del contenedor de login */
.login-form {
    margin-top: 1rem;
}
  
/* Estilo para los grupos de campos de formulario */
.form-group {
    margin-bottom: 1rem;
}
  
/* Estilo de los campos de entrada */
.login-input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
}
  
/* Estilo del botón de envío */
.login-submit {
    width: 100%;
    padding: 0.75rem;
    border: none;
    border-radius: 4px;
    background-color: #ffb74d;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
  
/* Estilo del botón de envío al pasar el cursor */
.login-submit:hover {
    background-color: #ffa726;
}
  
/* Estilo para los enlaces de restablecimiento de contraseña y registro */
.login-password-reset,
.login-signup {
    margin-top: 1rem;
    text-align: center;
}
  
/* Estilo de los enlaces en restablecimiento de contraseña y registro */
.login-password-reset a,
.login-signup a {
    color: #ffb74d;
    text-decoration: none;
}
  
/* Estilo de los enlaces al pasar el cursor */
.login-password-reset a:hover,
.login-signup a:hover {
    text-decoration: underline;
}
