/* Contenedor del formulario de restablecimiento de contraseña */
.reset-password-container {
    background-color: #f4c542; /* Fondo dorado suave */
    color: #000; /* Texto blanco */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh; /* Ocupa toda la altura de la ventana */
    position: fixed; /* Fijo en la pantalla */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999; /* Asegura que esté por encima de otros elementos */
    
  }
  
  /* Formulario de restablecimiento de contraseña */
  .reset-password-form {
    background-color: #fff; /* Fondo blanco para el formulario */
    color: #0828b6; /* Texto negro para el formulario */
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center; /* Centra el texto */
  }
  
  /* Estilo para el título del formulario */
  .reset-password-form h2 {
    font-family: 'Arial', sans-serif; /* Tipografía */
    margin-bottom: 1rem;
    color: #000; /* Color del texto negro */
  }
  
  /* Estilo para los mensajes de error y éxito */
  .error-message {
    color: #d9534f; /* Rojo para errores */
    margin-bottom: 1rem;
  }
  
  .success-message {
    color: #5bc0de; /* Azul claro para éxito */
    margin-bottom: 1rem;
  }
  
  /* Estilo para los grupos de formulario */
  .reset-password-form .form-group {
    margin-bottom: 1rem;
  }
  
  /* Estilo para las etiquetas de los campos de entrada */
  .reset-password-form label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
  }
  
  /* Estilo para los campos de entrada */
  .reset-password-form input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
    margin-bottom: 1rem; /* Asegura que el input esté debajo del título */
  }
  
  /* Estilo para el botón de restablecimiento */
  .reset-password-form button {
    background-color: #f4c542; /* Fondo dorado suave */
    color: #000; /* Texto negro */
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    
  }
  
  /* Estilo para el hover del botón */
  .reset-password-form button:hover {
    background-color: #d4a73d; /* Fondo dorado oscuro */
    color: #fff; /* Texto blanco */
  }
  